<p id="notice"><%= notice %></p>

<h1>Days</h1>

<table class="table-striped"  >
  <thead>
    <tr>
      <th>Date</th>
      <th>Bookings</th>
      <th>Status</th>
    </tr>
  </thead>





<% firstday = Date.new(2018,12,28) %>

  <tbody>
    <% @days.each do |day| %>

      <tr>
        <% full_day = day.name.strftime("%a %b %-d '%y")   %>

        <% if day.open_close.name == "Open" %>
          <td><%= link_to full_day, day %></td>
        <% else %>
          <td><%= full_day %></td>
          
        <% end %>



    <% if day.reservations.where('member_id = ?',current_member.id).count > 0 %>
      <td><i class="glyphicon glyphicon-check "></i></td>     
    <% else %>
      <% if day.open_close.name == "Open" %>
        <td><i class="glyphicon glyphicon-unchecked "></i></td> 
      <% else %>
        <td></td>    
      <% end %>
    <% end %>




        <% if current_member.membership.name == "Admin" or current_member.membership.name == "Operator"  %>
          <td><%= link_to day.open_close.name, edit_day_path(day) %></td>
        <% else %>
          <% if day.open_close.name == "Open" %>
            <td><span class="greendot"></span></td>
          <% else %>                  
            <td><span class="reddot"></span></td>                      
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
