<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-footer">


<p>
Send your feedback:
<a href="mailto:slafontaine10@gmail.com?Subject=Feedback%20on%20Marshes%20Winter%20Academy%20Booking%20Site" target="_top">slafontaine10@gmail.com</a>
</p>
	
    </div>  

	</div>
</div>